/* 
    Home styling and base for nav popup inspired by Udemy course
    https://www.udemy.com/course/modern-html-css-from-the-beginning
*/
.menu-wrap{
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
}

.menu-wrap .toggler{
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger{
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger Line Middle*/
.menu-wrap .hamburger div{
    position:relative;
    flex:none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* Hamburger top/bottom */
.menu-wrap .hamburger div::after,
.menu-wrap .hamburger div::before{
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/* Moves line down */
.menu-wrap .hamburger div::after{
    top: 10px;
}

/* toggler animation */
.menu-wrap .toggler:checked + .hamburger > div{
    transform: rotate(135deg);
}

/* Turns lines into x */
.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after{
    top: 0;
    transform: rotate(90deg);
}

/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div{
    transform: rotate(225deg);
}

/* Show menu */
/* Tild targets preceeding element */
.menu-wrap .toggler:checked ~ .menu{
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div{
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div{
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div{
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex:none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}


.menu-wrap .menu > div > div{
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;

}

.menu-wrap .menu > div > div > ul > li{
    list-style: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a{
    color: inherit;
    text-decoration: none;
    border-bottom: transparent 0px solid;
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li > a:hover{
    color: var(--secondary-color);
}

.menu-wrap .menu > div > div > ul > li > a:after{
    content: '';
    display: block;
    margin: auto;
    margin-top:5px;
    height: 3px;
    width: 0px;
    background: white;
    /* Transition for sliding underline */
    transition: width .4s ease, background-color 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li > a:hover:after{
    width: 100%;
    background: var(--secondary-color);
}
