/* 
    Home styling and base for nav popup inspired by Udemy course
    https://www.udemy.com/course/modern-html-css-from-the-beginning
*/

:root{
    --primary-color: #252525bf;
    --secondary-color: #ff6768e6;
    --overlay-color: #263859d9;
    --menu-speed: 0.75s
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
    background:var(--primary-color);
}

.container{
    max-width: 960px;
    margin:auto;
    overflow: hidden;
    padding: 0 3rem;
}

#showcase{
    background: var(--primary-color);
    color: #fff;
    height: 100vh;
    position: relative;
}

#showcase:before{
    content: '';
    background: url('../images/homeCover.jpeg') no-repeat center center/cover;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
}

#showcase .showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

#showcase h1{
    font-size: 4rem;
}

#showcase h2{
    padding-top: 1rem;
    padding-bottom: 0rem;
    font-size: 2rem;
}
#showcase p{
    font-size: 1.3rem;
}

.btn {
    display: inline-block;
    border:none;
    background: var(--primary-color);
    color:#fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: all 1s ease-in-out;
    text-decoration: none;

}

.btn:hover{
    /* opacity: 1; */
    background: black;
    opacity: 0.9;
}

/* Schedule form Styling */
.background-container{
    background: url('../images/tools.jpeg') no-repeat center center/cover;
    height: 100vh;
}
.sched-header{
    background: var(--primary-color);
}

.sched-header h1{
    color:#fff;
    font-size: 4rem;
    text-align: center;
}

.sched-form{
    padding: 4rem;
}

#form-container {
    color: #fff;
    background: var(--primary-color);
    text-align: start;
    /* border: 2px solid var(--secondary-color); */
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 1rem;
}

#form-container input{
    display: block;
}

#form-container label{
    font-size: 2rem;
    font-weight: 300;
}

#form-container input[type="text"],
#form-container input[type="email"],
#form-container input[type="datetime-local"]
{
    border-radius: 5px;
    width: 25rem;
    height: 2rem;
    padding: 0.1rem 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-self: center;
}

#form-container #description
{
    border-radius: 5px;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.1rem 1rem;
}

input:focus, textarea:focus{
    outline:none;
    border: 2px solid var(--secondary-color);
}

#submit{
    background: var(--secondary-color);
    border:none;
    color: #fff;
    padding: 1rem 2rem;
    margin-top: 1rem;
    border-radius: 5px;
    border: 1px solid white;
    transition: all 1s ease-in-out;
}

#submit:hover{
    color:var(--secondary-color);
    background: #fff;
    border: 1px solid var(--secondary-color);
}